<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="" content="">
    <meta name="author" content="junrui">
    <link rel="icon" href="/img/favicon.ico">

    <title>管理平台</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <!--<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">-->
        <div class="col-md-12 col-sm-12">
          <h1>管理平台</h1>
          <ul class="nav nav-tabs">
            <li role="presentation" class="{% if entity == 'partner' %}active{% endif %}"><a href="/manage/partner">伙伴</a></li>
            <li role="presentation" class="{% if entity == 'activity' %}active{% endif %}"><a href="/manage/activity">活动</a></li>
          </ul>
          {% if entity == 'partner' %}
          <table id="partner-table" class="table table-striped">
            <tr>
              <th class="col-logo">logo</th>
              <th class="col-description">description</th>
              <th class="col-action">action</th>
            </tr>
            {% for partner in items %}
              <tr>
                <td><img src="{{ partner.logo_url }}" class="manage-img"></td>
                <td>{{ partner.html|striptags|truncate(100, True) }}</td>
                <td>
                  <a href="/edit/partner/{{ partner.id }}" class="btn btn-default">编辑</a>
                  <a href="/toggle/partner/{{ partner.id }}" class="btn btn-default {% if partner.hidden %}btn-warning{% endif %}">
                    {% if partner.hidden %}显示{% else %}隐藏{% endif %}
                  </a>
                  <a href="/remove/partner/{{ partner.id }}" class="btn btn-default">删除</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          <a class="btn btn-primary" href="/edit/partner">添加伙伴</a>
          {% endif %}
          {% if entity == 'activity' %}
          <table id="activity-table" class="table table-striped">
            <tr>
              <th class="col-title">title</th>
              <th>content</th>
              <th class="col-action">action</th>
            </tr>
            {% for activity in items %}
              <tr>
                <td><a href="/activity/{{ activity.id }}">{{ activity.title }}</a></td>
                <td>{{ activity.html|striptags|truncate(100) }}</td>
                <td>
                  <a href="/edit/activity/{{ activity.id }}" class="btn btn-default">编辑</a>
                  <a href="/toggle/activity/{{ activity.id }}" class="btn btn-default {% if activity.hidden %}btn-warning{% endif %}">
                    {% if activity.hidden %}显示{% else %}隐藏{% endif %}
                  </a>
                  <a href="/remove/activity/{{ activity.id }}" class="btn btn-default">删除</a>
                </td>
              </tr>
            {% endfor %}
          </table>
          <a class="btn btn-primary" href="/edit/activity">添加活动</a>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
