.top {
    display: flex;
    align-items: center;
    height: 80px;
}

.top h1 {
    margin: 0;
    font-size: 2rem;
}

.form-wrapper {
    max-width: 600px;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: .2rem solid #f7f7f9;
}

.form-wrapper .input-group {
    margin-bottom: .75rem;
}

.form-wrapper label.btn {
    margin-bottom: 0;
}

.result-table input.form-control {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 0.875rem;
}

.result-table .btn {
    padding: .25rem .75rem;
    font-size: 0.875rem;
}

.table-hint {
    margin-top: 15px;
    margin-bottom: 0;
}

.top .nav {
    padding-left: 20px;
    padding-right: 20px;
}

.form-inline .search-input {
    width: 300px;
}

.form-inline .birthday .search-input {
    width: 150px;
}

.form-inline .input-group.input-range input {
    width: auto;
}
