/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    background-color: #f5f5f5;
    padding: 20px 0;
    border-top: 2px solid #e0e5e6;
}

.footer .container {
    height: 100%;
}

@media (max-width: 767px) {
    body {
        margin-bottom: 160px;
    }

    .footer {
        height: 160px;
    }
}
