{% extends "base2.html" %}
{% block title %}关于我们{% endblock %}
{% block content %}
<div class="aciwc-hero3">
  <div class="aciwc-bg img71"></div>
  <div class="aciwc-bottom about">
    <div class="container text-center">
      <h1 class="aciwc-title">关于我们</h1>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="aciwc-values">
          <h4 class="aciwc-title">澳大利亚国际微商总会（ACIWC）</h4>
          <hr>
          <p>以我们的伙伴和顾客为核心，我们致力于以下业务并努力践行以下价值观：</p>
          <ul>
            <li>由韩霖典（James Han）先生于2015年在澳大利亚创立，致力于中澳企业之间的贸易，投资，资源整合。</li>
            <li>隶属于新澳集团, 以通讯业务 （Etel / Pacific Telecom）和IT业务（Fourier）开始，发展至今。</li>
            <li>以独特的商业模式和运营方式，成功将中国多家中小型企业嫁接澳洲，包括有来鸭，冰雪皇后等。</li>
            <li>在每个连接彼此的当下，我们专注投入，开诚相见，互尊互敬。</li>
            <li>对于每件事，我们都竭尽所能，做到最好，敢于担当。</li>
          </ul>
        </div>
      </div>
    </div>
    <blockquote class="aciwc-quote">
      <p>从人文视角出发，我们追求卓越业绩。</p>
    </blockquote>
  </div>
</div>
<div class="aciwc-follow">
  <h4 class="aciwc-title">关注我们</h4>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <img width="80" src="/img/qrcode.webp">
    </li>
    <!--<li class="list-inline-item">
      <img src="/img/facebook.gif">
    </li>
    <li class="list-inline-item">
      <img src="/img/linkedin.gif">
    </li>
    <li class="list-inline-item">
      <img src="/img/youtube.png">
    </li>
    <li class="list-inline-item">
      <img src="/img/googleplus.png">
    </li>-->
  </ul>
</div>
<!--hickeys, tricoglobal, southern, fourier, hcafe-->
{% endblock %}
