<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="" content="">
    <meta name="author" content="junrui">
    <link rel="icon" href="/img/favicon.ico">

    <title>活动详情</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
  </head>
  <body>
    <div class="detail-container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="detail-title">{{ activity.title }}</h2>
          <div class="detail-time">发布时间：{{ activity.published_time.strftime('%Y-%m-%d %H:%M') }}</div>
          <div class="detail-content">{{ activity.html|safe }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <a href="/">回到主页</a> <a href="/activity">回到活动列表</a>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
  </body>
</html>
