{% extends "base.html" %}

{% set page = 2 %}

{% block title %}活动{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/activity.css">
{% endblock %}

{% block content %}
    <div class="container container-below-nav">

      <h2 id="timeline">近期活动</h2>
      {% if not activities %}
      <div class="alert alert-warning" role="alert">
        暂时没有新活动。我们的活动即将上线，您也可以<a href="/contact">联系我们</a>咨询活动详情。
      </div>
      {% else %}
      <ul class="timeline">
        {% for activity in activities %}
        <li>
          <div class="timeline-datetime">
            <span>{{ activity.activity_time.strftime('%Y-%m-%d') }}</span>
            <span>{{ activity.activity_time.strftime('%H:%M') }}</span>
          </div>
          <div class="timeline-badge click-effect"><i class="glyphicon glyphicon-unchecked"></i></div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-md-9">
                <div class="timeline-heading">
                  <h3 class="timeline-title"><a href="{{ activity.id }}" target="_blank">{{ activity.title }}</a></h3>
                  <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>-->
                </div>
                <div class="timeline-datetime2">
                  活动时间: {{ activity.activity_time.strftime('%Y-%m-%d %H:%M') }}
                </div>
                <div class="timeline-body">
                  <p>{{ activity.html|striptags|truncate(200, True) }}</p>
                </div>
                <div class="btn-query-container"><a href="/contact" class="btn btn-info btn-query">咨询活动详情</a></div>
              </div>
              <div class="col-md-3">
                <img src="{% if activity.thumbnail is not none %}{{ activity.thumbnail }}{% else %}/img/logo.png{% endif %}" class="timeline-img">
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div id="old-activity">
        <button id="toggle-button" class="btn btn-lg btn-primary">查看往期活动</button>
        <ul id="old-activity-list" class="timeline" hidden>
        {% for activity in old_activities %}
        <li>
          <div class="timeline-datetime">
            <span>{{ activity.activity_time.strftime('%Y-%m-%d') }}</span>
            <span>{{ activity.activity_time.strftime('%H:%M') }}</span>
          </div>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-md-9">
                <div class="timeline-heading">
                  <h3 class="timeline-title"><a href="{{ activity.id }}" target="_blank">{{ activity.title }}</a></h3>
                  <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>-->
                </div>
                <div class="timeline-datetime2">
                  活动时间: {{ activity.activity_time.strftime('%Y-%m-%d %H:%M') }}
                </div>
                <div class="timeline-body">
                  <p>{{ activity.html|striptags|truncate(200, True) }}</p>
                </div>
              </div>
              <div class="col-md-3">
                <img src="{{ activity.thumbnail }}" class="timeline-img">
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
        </ul>
      </div>

      <!--
      <nav aria-label="...">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
      -->

    </div>
{% endblock %}

{% block script %}
    <script src="/js/activity.js"></script>
{% endblock %}
