<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="junrui">
    <link rel="icon" href="/img/favicon.png">

    <title>{% block title %}{% endblock %} - 澳大利亚国际微商总会</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/aciwc.css">
    {% block css %}{% endblock %}
  </head>

  <body>

    <header class="aciwc-header">
      <div class="container">
        <div class="aciwc-bottom">
          <a href="/">
            <img class="aciwc-logo" src="/img/logot.png" alt="ACIWC logo">
          </a>
          <span class="aciwc-text">|<span class="ml-3">ACIWC</span></span>
        </div>
        <div class="aciwc-right">
          <ul class="list-inline">
            <li class="list-inline-item aciwc-list-item">
              <i class="fa fa-search fa-lg aciwc-icon" aria-hidden="true"></i>
            </li>
            <li class="list-inline-item aciwc-list-item">
              <i class="fa fa-share-alt fa-lg aciwc-icon" aria-hidden="true"></i>
            </li>
            <li class="list-inline-item aciwc-list-item">
              <i class="fa fa-map-marker fa-lg aciwc-icon" aria-hidden="true"></i>
            </li>
            <li class="list-inline-item aciwc-menu-btn">
              <i class="fa fa-bars fa-lg aciwc-icon" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="aciwc-footer">
      <div class="container">
        <!--
        <ul class="list-inline">
          <li class="list-inline-item aciwc-footer-item">
            <a href="#">Member firms</a>
          </li>
          <li class="list-inline-item aciwc-footer-item">
            <a href="#">Site map</a>
          </li>
          <li class="list-inline-item aciwc-footer-item">
            <a href="#">Contact us</a>
          </li>
        </ul>
        <p class="aciwc-claim">© 2015-2017 PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see
          <a href="/structure">www.pwc.com/structure</a> for further details.</p>-->
        <p class="aciwc-claim">公司电话: 02 8277 8877 / 02 8297 8899</p>
        <p class="aciwc-claim">公司邮箱: aciwc@etel.com.au</p>
        <p class="aciwc-claim mb-0">公司地址: Level 5 734 George St Haymarket</p>
        <!--
        <ul class="list-inline mb-0">
          <li class="list-inline-item aciwc-footer-link">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item aciwc-footer-link">
            <a href="#">Cookies info</a>
          </li>
          <li class="list-inline-item aciwc-footer-link">
            <a href="#">Legal</a>
          </li>
          <li class="list-inline-item aciwc-footer-link">
            <a href="#">About site provider</a>
          </li>
        </ul>-->
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
  </body>
</html>
