{% extends "business.html" %}

{% block title %}投资业务{% endblock %}

{% block pagetitle %}投资业务介绍{% endblock %}

{% block img1 %}img72{% endblock %}

{% block img2 %}img40{% endblock %}

{% block img3 %}img19{% endblock %}

{% block img4 %}img73{% endblock %}

{% block img5 %}img71{% endblock %}

{% block img6 %}/img/79.jpg{% endblock %}

{% block img7 %}/img/80.jpg{% endblock %}

{% block text1 %}财富的力量{% endblock %}

{% block text2 %}澳大利亚稳定的投资市场为您的资产保值提供保障，健全的投资体系为您提供多种合理的投资配置。{% endblock %}

{% block text3 %}房产行业投资{% endblock %}

{% block text4 %}通讯行业投资{% endblock %}

{% block text5 %}旅游行业投资{% endblock %}

{% block text6 %}
<h4 class="aciwc-title">房产行业投资</h4>
<p>一线城市个人住房投资门槛较低，约80万澳币便可以全款购入小户型公寓一套。</p>
<p>海外房产投资人士购买楼花可向银行贷出房价估值的60%，远高于国内的放贷力度。</p>
<p>采用等额本息的还款方式，每月还款金额不变，其中所还本金部分不变，利息部分相应递减。对于有经济实力可以提前还款的投资人士来说，可以大大提高收益。</p>
{% endblock %}

{% block text7 %}
<h4 class="aciwc-title">通讯行业投资</h4>
<p>通讯行业由传统三大供应商Telstra, Optus, Vodafone控制，售价较高</p>
<p>产业主要集中于移动网络，并且产品更新迭代速度较快</p>
<p>但中低端市场发展不全面，仍有巨大投资空间</p>
{% endblock %}

{% block text8 %}
<h4 class="aciwc-title">旅游行业投资</h4>
<p>澳洲作为著名旅游国家，有悉尼、墨尔本、布里斯班等等具有号召力的旅游城市，每年吸引全球各地游客上千万</p>
<p>目标市场主要为学生，尤其当地的留学生，背包客以及具有投资能力的游客，市场内部多以中小型机构为主</p>
<p>多层次的旅游市场仍具有极大投资潜力</p>
{% endblock %}

{% block text9 %}热门项目介绍{% endblock %}

{% block text10 %}Etel{% endblock %}

{% block text11 %}
<p>E.Tel 澳洲电信公司於1999年在澳洲悉尼成立，是 100% 澳洲本地公司。</p>
<p>我们致力于提供物美价廉的超值通讯服务(包括手机、移动网络、固定电话、预付卡等等)。E.Tel 移动通讯通过本地Optus 4G和Vodafone两大电信系统，提供您最多选择的通讯方案。</p>
<p>“ Simple is Best ”是E.Tel 企业经验理念，目的在提供您最方便、最简单和最便宜的通讯服务</p>
{% endblock %}

{% block text12 %}ÉLEVÉ公寓{% endblock %}

{% block text13 %}
<p>黄金海岸中心</p>
<p>如果您热爱高尔夫, 那么没有比Élevé 更好的家园选择了, 在那里您可以尽情尽兴。</p>
<p>棕榈草甸高尔夫球场位居黄金海岸高尔夫球场顶尖之列, 就在您的家门口, 其他一 些受欢迎的球场也只需短暂的车程</p>
{% endblock %}

{% block text14 %}
相较于中国的投资环境，我更加信赖澳洲的市场。从事房产经济13年，澳洲每隔10年翻一番的规律给我带来巨大的收益。感谢James Han给我提供了很好的项目。
{% endblock %}

{% block imgetel %}<img class="card-img-etel" src="/img/641.jpeg">{% endblock %}
