{% extends "base2.html" %}

{% block content %}
<div class="aciwc-hero3">
  <div class="aciwc-bg {% block img1 %}{% endblock %}"></div>
  <div class="aciwc-bottom">
    <div class="container">
      <h1 class="aciwc-title"><span class="aciwc-text-span">{% block pagetitle %}{% endblock %}</span></h1>
    </div>
  </div>
</div>
<div class="aciwc-business-intro">
  <div class="aciwc-building {% block img2 %}{% endblock %}">
  </div>
  <div class="aciwc-intro-line">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-8">
          <div class="aciwc-professional">
            <h4 class="py-3">{% block text1 %}{% endblock %}</h4>
            <p>{% block text2 %}{% endblock %}</p>
          </div>
        </div>
      </div>
      <div class="row vertical-margin">
        <div class="col-md-4">
          <div class="aciwc-fact">
            <div class="aciwc-yellow"></div>
            <div class="aciwc-card-bg {% block img3 %}{% endblock %}"></div>
            <div class="aciwc-content text-white">
              <h2>01</h2>
              <div>{% block text3 %}{% endblock %}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aciwc-fact">
            <div class="aciwc-white"></div>
            <div class="aciwc-card-bg {% block img4 %}{% endblock %}"></div>
            <div class="aciwc-content">
              <h2 class="title-orange">02</h2>
              <div>{% block text4 %}{% endblock %}</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="aciwc-fact">
            <div class="aciwc-white"></div>
            <div class="aciwc-card-bg {% block img5 %}{% endblock %}"></div>
            <div class="aciwc-content">
              <h2 class="title-orange">03</h2>
              <div>{% block text5 %}{% endblock %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey">
  <div class="container">
    <div class="row more-padding vertical-margin">
      <div class="col-md-4 aciwc-border-right">
        <div class="aciwc-adv text-center">
          <i class="fa fa-home fa-3x mb-3" aria-hidden="true"></i>
          {% block text6 %}
          <h4 class="aciwc-title">您值得信任的终身顾问</h4>
          <p>我们努力为您提供令您满意的服务并简化您的贷款流程。我们希望帮助您达到财务目标，我们是您值得信任的顾问。</p>
          {% endblock %}
        </div>
      </div>
      <div class="col-md-4 aciwc-border-right">
        <div class="aciwc-adv text-center">
          <i class="fa fa-shield fa-3x mb-3" aria-hidden="true"></i>
          {% block text7 %}
          <h4 class="aciwc-title">持续的高质量服务</h4>
          <p>我们通过每日微信公众号推送向您提供最新的汇率、项目、增值服务等等信息。在您的整个贷款过程中，我们会持续为您服务。</p>
          {% endblock %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="aciwc-adv text-center">
          <i class="fa fa-calendar-check-o fa-3x mb-3" aria-hidden="true"></i>
          {% block text8 %}
          <h4 class="aciwc-title">我们理解您的需求</h4>
          <p>我们懂得您的贷款只是您许多业务的其中一项。我们会尽量让贷款的过程变得简单高效，为您留下更多的时间去集中处理其他业务。</p>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section medium aciwc-bg-black">
  <div class="container">
    <h2 class="aciwc-title white mb-4">{% block text9 %}近期案例{% endblock %}</h2>
    <div class="row vertical-margin">
      <div class="col-md-6">
        <div class="aciwc card">
          <img class="card-img-top img-fluid" src="{% block img6 %}{% endblock %}" >
          {% block imgetel %}{% endblock %}
          <div class="card-block">
            <h4 class="card-title">{% block text10 %}Card title{% endblock %}</h4>
            <p class="card-text">{% block text11 %}Some quick example text to build on the card title and make up the bulk of the card's content.{% endblock %}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="aciwc card">
          <img class="card-img-top img-fluid" src="{% block img7 %}{% endblock %}" >
          <div class="card-block">
            <h4 class="card-title">{% block text12 %}Card title{% endblock %}</h4>
            <p class="card-text">{% block text13 %}Some quick example text to build on the card title and make up the bulk of the card's content.{% endblock %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section medium aciwc-bg-grey">
  <div class="container text-center">
    <h2>客户反馈</h2>
    <div class="aciwc-valign py-3">
      <i class="fa fa-chevron-left fa-1x mr-3" aria-hidden="true"></i>
      <i class="fa fa-quote-left fa-3x aciwc-orange" aria-hidden="true"></i>
      <i class="fa fa-chevron-right fa-1x ml-3" aria-hidden="true"></i>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p class="aciwc-client">{% block text14 %}“我是一名首次置业者，事先并没有了解过贷款的相关信息。我的一位好朋友给我介绍了ACIWC的业务员。每次我联系他时，他都给我非常详细的回答。我的贷款很快就通过了审批，我相当感谢这位业务员。”{% endblock %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
