{% extends "business.html" %}

{% block title %}留学业务{% endblock %}

{% block pagetitle %}留学业务介绍{% endblock %}

{% block img1 %}img67{% endblock %}

{% block img2 %}img31{% endblock %}

{% block img3 %}img28{% endblock %}

{% block img4 %}img57{% endblock %}

{% block img5 %}img65{% endblock %}

{% block img6 %}/img/66.jpg{% endblock %}

{% block img7 %}/img/76.png{% endblock %}

{% block text1 %}从这里开始，世界就在你眼前{% endblock %}

{% block text2 %}我们致力于提供令您满意的服务，简化您的留学申请流程。我们想要帮助您取得心仪学校的offer，是您留学之旅中值得信赖的顾问。{% endblock %}

{% block text3 %}一对一制定专业留学方案{% endblock %}

{% block text4 %}丰富且专业的经验{% endblock %}

{% block text5 %}让您省心的一站式服务{% endblock %}

{% block text6 %}<p>多位留学专家在线守候，针对您的专业特长以及偏好制定出专属您的VIP方案。</p>{% endblock %}

{% block text7 %}<p>每一位留学专家都经过专业培训并拥有多年留学规划经验。以保证充分了解您的需求，并做出最合适的选择。</p>{% endblock %}

{% block text8 %}<p>从筛选学校、撰写文书、签证指导及行前培训，都涵盖在我们的一站式服务中。让您享受无忧的留学申请之路。</p>{% endblock %}

{% block text9 %}热门学校{% endblock %}

{% block text10 %}悉尼大学{% endblock %}

{% block text11 %}
<p>悉尼大学（University of Sydney）是澳大利亚的公立大学。悉尼大学是全澳、全大洋洲和整个南半球第一所大学，创立于1850年，位于新南威尔士州的首府悉尼。悉尼大学目前有52,789在校学生（2014 年统计）。</p>
<p>悉尼大学历史上培养了一系列的重要人物，包括七位澳大利亚总理（包括现任总理麦肯·腾博）、23位最高法院法官、联合国大会主席、国际法院院长、世界银行总裁、七位诺贝尔奖或克拉福德奖得主等，并有101名学生获得罗德奖学金。</p>
<p>悉大主校区位于悉尼内城区，市中心西南，其哥特式的主楼和其它历史建筑是重要的文物遗产。</p>
{% endblock %}

{% block text12 %}墨尔本大学{% endblock %}

{% block text13 %}
<p>墨尔本大学（The University of Melbourne）位于澳大利亚墨尔本，始建于1853年，是澳大利亚历史第二悠久的大学。墨尔本大学是澳大利亚六所砂岩学府之一，是八大名校的首要盟校成员，也是Universitas 21的创始会员和秘书处所在地，同时还是国际著名研究型大学联盟组织环太平洋大学联盟、亚太国际贸易教育暨研究联盟的成员大学之一，为全球最负盛名的大学之一。</p>
<p>2012年泰晤士高等教育全球大学排名中墨尔本大学位居全球两万余所大学中的第28位，亚太地区第二位（仅次于排名第27位的日本东京大学）。在2013年QS世界大学排名之中，墨尔本大学以总评86分位居世界第31位。墨尔本商学院的排名始终位居世界百强，被英国高级技术移民签证计划列入世界前50大MBA课程，毕业生有直接赴英国工作的资格，其毕业生拥有极强竞争力，在全球雇主满意度排名前十位。</p>
{% endblock %}

{% block text14 %}
我们相信这里的专业度，他们热情又周到的服务让我们放心把孩子的未来交给他们。留学顾问帮助我们解决了很多学校选择上的难题，行前给孩子做了很多培训。孩子在澳洲过的很好。我很感谢他们。
{% endblock %}
