{% extends "business.html" %}

{% block title %}移民业务{% endblock %}

{% block pagetitle %}移民业务介绍{% endblock %}

{% block img1 %}img59{% endblock %}

{% block img2 %}img34{% endblock %}

{% block img3 %}img60{% endblock %}

{% block img4 %}img61{% endblock %}

{% block img5 %}img37{% endblock %}

{% block img6 %}/img/64.jpg{% endblock %}

{% block img7 %}/img/63.jpg{% endblock %}

{% block text1 %}让澳大利亚成为你的新家园{% endblock %}

{% block text2 %}澳大利亚是一个高福利国家，福利的种类多而齐全。澳大利亚拥有完善的联邦医疗保健系统，名列全球各国第12位。它也是亚太地区最具移民吸引力的国家。{% endblock %}

{% block text3 %}186雇主担保移民{% endblock %}

{% block text4 %}132投资移民{% endblock %}

{% block text5 %}188E创业移民{% endblock %}

{% block text6 %}
<h4 class="aciwc-title">186雇主担保移民</h4>
<p>186签证既可以在境内申请也可以在境外申请，它是原121和856签证合并之后的签证。属于澳洲雇主担保技术移民项目，通常也被称作雇主担保移民。</p>
<p>澳洲政府允许澳洲境内的企业或机构从海外聘请专业人才，并担保被聘用的人到澳洲工作、生活，并可一次性获得永久居留权利。</p>
{% endblock %}

{% block text7 %}
<h4 class="aciwc-title">132投资移民</h4>
<p>132商业天才移民签证属于澳洲商业投资移民类签证，用以吸引合资格的大型企业主或股东到澳洲设立新企业或参与现有企业管理的签证，申请人可一步到位获得澳洲永居身份。</p>
<p>132签证是澳大利亚所有投资移民签证类别中唯一能够一步到位的5年永居签证。该类签证无英语及学历要求，适合那些有成功生意背景，并且有意在澳洲做较大规模投资的企业家。</p>
{% endblock %}

{% block text8 %}
<h4 class="aciwc-title">188E创业移民</h4>
<p>188商业创新与投资签证，是一个临时的商业签证，满足一定条件后可以申请永久的888商业创新与投资签证。</p>
<p>188E为商业创新类别，适用于打算创办或管理一个澳大利亚的新公司或已有公司的申请人。</p>
{% endblock %}

{% block text9 %}热门移民行业{% endblock %}

{% block text10 %}工程类{% endblock %}

{% block text11 %}
<p>工程类是澳洲特色专业就业前景好，薪资高，最紧缺五大专业之一。澳洲是一个相当广袤的国家，近年来经济发展速度很快，需要大批工程师。</p>
<p>只要您有施工项目，工程建造负责等相关经历或在国内任职项目工程经理、建筑施工人员、项目建造师</p>
<p>针对这些行业，澳大利亚政府较容易通过移民资格审批</p>
{% endblock %}

{% block text12 %}服务行业{% endblock %}

{% block text13 %}
<p>近几年，澳大利亚第三产业发展迅速，以餐厅、美容美发以及旅游等为主。</p>
<p>只要您在国内具有以上行业，等同于经理职位的相关从业经历</p>
<p>澳大利亚政府较容易通过您的移民资格审批</p>
{% endblock %}

{% block text14 %}
我和我的家人一直很期待来到澳大利亚生活。在ACIWC的帮助下，我们成功申请了雇主担保移民并且在这定居下来。这里全年天气晴朗，气候适合老人和小孩居住。我们都很喜欢这里。
{% endblock %}
