<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="" content="">
    <meta name="author" content="junrui">
    <link rel="icon" href="/img/favicon.ico">

    <title>管理平台 - 编辑</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
  </head>

  <body>
    <div class="container">
      <div class="pb-4"></div>
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h1 class="inline-header">编辑</h1>
              <h3 class="inline-header"> -
                {% if entity == 'partner' %}伙伴{% elif entity == 'activity' %}活动{% endif %}
              </h3>
              <a href="/manage/{{ entity }}">返回管理平台</a>
            </div>
          </div>
          {% if entity == 'partner' %}
          <form method="POST">
            <textarea class="mce" name="html" hidden></textarea>
            <img class="img-responsive logo-img" src="{{ item.logo_url }}">
            <div class="input-group">
              <input type="text" name="logo_url" class="form-control logo_url" placeholder="Logo, 输入图片url或者从本地上传" value="{{ item.logo_url }}" required>
              <span class="input-group-btn">
                <label class="btn btn-default btn-file img-upload-label">选择图片... </label>
              </span>
            </div>
            <button class="btn btn-primary">保存</button>
          </form>
          {% endif %}
          {% if entity == 'activity' %}
          <form method="POST">
            <input type="text" name="title" class="form-control" value="{{ item.title }}" placeholder="标题" required>
            <input id="datetimepicker1" type="text" name="activity_time" class="form-control" {% if item is not none %}value="{{ item.activity_time.strftime('%Y-%m-%d %H:%M') }}"{% endif %} placeholder="活动时间" required>
            <textarea class="mce" name="html" hidden></textarea>
            <img class="img-responsive logo-img" src="{{ item.thumbnail }}">
            <div class="input-group">
              <input type="text" name="thumbnail" class="form-control logo_url" placeholder="Thumbnail, 输入图片url或者从本地上传" value="{{ item.thumbnail }}">
              <span class="input-group-btn">
                <label class="btn btn-default btn-file img-upload-label">选择图片... </label>
              </span>
            </div>
            <button class="btn btn-primary">保存</button>
          </form>
          {% endif %}
          <form id="img-upload-form" action="/upload" method="post" enctype="multipart/form-data" hidden>
              <input id="img-upload-btn" name="image" type="file">
          </form>
        </div>
      </div>
    </div>

    <div id="mce-initial-content" hidden>
      {{item.html|safe}}
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/tinymce.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/edit.js"></script>
  </body>
</html>
