{% extends "base2.html" %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="aciwc-nav">
  <div class="container">
    <h5 class="aciwc-explore">Explore</h5>
    <div class="float-right">
      <ul class="list-inline">
        <li class="list-inline-item aciwc-nav-item">Industries</li>
        <li class="list-inline-item aciwc-nav-item">Services</li>
        <li class="list-inline-item aciwc-nav-item">Today's issues</li>
        <li class="list-inline-item aciwc-nav-item">About us</li>
      </ul>
    </div>
  </div>
</div>
<div class="aciwc-hero">
  <div class="aciwc-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 aciwc-legend">
          <h2>Redrawing the lines: FinTech’s growing influence on Financial Services</h2>
          <p class="aciwc-subtitle mb-4">What does FinTech mean for financial services organisations: innovation, disruption, opportunity - or all of them?</p>
          <div class="aciwc-btn white">Discover our findings</div>
        </div>
      </div>
    </div>
    <div class="aciwc-bottom-line"></div>
  </div>
</div>
<div class="aciwc-section aciwc-bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="aciwc-featured-block">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/world-in-2050-hero.jpg">
          </div>
          <div class="aciwc-featured-content">
            <h3>World in 2050</h3>
            <p class="aciwc-subtitle">How will the global economic order change by 2050?</p>
            <div class="aciwc-btn black">Explore the world in 2050</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aciwc-featured-block">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/gew-april-17.jpg">
          </div>
          <div class="aciwc-featured-content">
            <h3>Global Economy Watch - April edition</h3>
            <p class="aciwc-subtitle">A turnround for the G7?</p>
            <div class="aciwc-btn black">Explore our economic updates</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section">
  <div class="container">
    <h2 class="aciwc-title section-title">Blogs</h2>
    <div class="row">
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq5.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">04 May, 2017</div>
            <h3 class="aciwc-title">Bringing digitisation to the factory floor and beyond</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Reinhard Geissbauer, Head of PwC’s Industry 4.0 Practice, EMEA</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq6.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">24 April, 2017</div>
            <h3 class="aciwc-title">Diversity vs. familiarity. Where is your leadership team on this spectrum?</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Jim Woods, Global Risk Assurance Leader</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq7.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">19 April, 2017</div>
            <h3 class="aciwc-title">From Global Power Shift to Power Dispersion</h3>
            <p class="aciwc-paragraph">CEO insights blog - Authors: Dennis Chesley, Global, Asia Pacific and Americas (APA) Risk Consulting Leader and Alexis Crow, Lead, Geopolitical Opportunity Practice</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq8.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">11 April, 2017</div>
            <h3 class="aciwc-title">The fourth industrial revolution: it's not all about machines</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Bob Moritz , Chairman, PwC International Ltd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section">
  <div class="container">
    <h2 class="aciwc-title border section-title noto">相关视频</h2>
    <div class="row">
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/Aa7gm6JPMcM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">Redrawing the lines: FinTech’s growing influence on Financial Services</h3>
            <p class="aciwc-paragraph">FinTech is all about innovation, disruption and transformation, and will undoubtedly impact and shape the way financial institutions around the world operate. Explore the key themes of PwC's latest report on FinTech, based on a PwC survey of over 1,300 senior financial services and FinTech executives from 71 countries.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/lVVnhxbqFOI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">PwC uses predictive maintenance to help clients avoid costly delays and cancellations</h3>
            <p class="aciwc-paragraph">PwC uses advanced analytics to help transportation companies predict costly mechanical failures ahead of time, and carry out the repairs needed to avoid service interruptions.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/LTzy8NF3BDo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title"> Focus on diversity and career progression opportunities</h3>
            <p class="aciwc-paragraph">Aoife Flood, lead researcher and author on Winning the fight for female talent, shares an overview of the report’s key findings.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/yGoHsTV6QrE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">2017 Global investor survey</h3>
            <p class="aciwc-paragraph">Our 2017 Global Investor Survey compares the views of investment professionals and CEOs on the threats and opportunities facing companies today. The report focuses on globalisation and technology</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section aciwc-bg-grey">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="aciwc-intro-block">
          <h3 class="aciwc-title">Careers</h3>
          <p class="aciwc-paragraph mb-3">PwC is all about you. Whether you’re just starting out or are an experienced professional, your future starts here.</p>
          <div class="aciwc-btn black">Explore PwC Careers</div>
        </div>
      </div>
      <div class="col">
        <div class="aciwc-intro-block">
          <h3 class="aciwc-title">Press room</h3>
          <p class="aciwc-paragraph mb-3">Get to know PwC’s leadership, keep up with our latest news, and find the regional contact person you need.</p>
          <div class="aciwc-btn black">Visit our Press room</div>
        </div>
      </div>
      <div class="col">
        <div class="aciwc-intro-block">
          <h3 class="aciwc-title">Offices</h3>
          <p class="aciwc-paragraph mb-3">Global network. Global access. We have offices around the world. Find us wherever you may need us.</p>
          <div class="aciwc-btn black">View all offices</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-follow">
    <h4 class="aciwc-title">Follow us</h4>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <img src="/img/twitter.gif">
      </li>
      <li class="list-inline-item">
        <img src="/img/facebook.gif">
      </li>
      <li class="list-inline-item">
        <img src="/img/linkedin.gif">
      </li>
      <li class="list-inline-item">
        <img src="/img/youtube.png">
      </li>
      <li class="list-inline-item">
        <img src="/img/googleplus.png">
      </li>
    </ul>
</div>
{% endblock %}
