{% extends "base2.html" %}

{% block title %}首页{% endblock %}

{% block content %}
{% set default_imgs = ['/img/39.jpg', '/img/38.jpg', '/img/cq5.png', '/img/cq6.png', '/img/cq7.png', '/img/cq8.png'] %}

<div class="aciwc-hero">
  <div class="aciwc-nav">
    <div class="container">
      <h5 class="aciwc-explore d-none d-sm-inline-block">探索</h5>
      <div class="aciwc-nav-wrapper">
        <ul class="aciwc-nav-list">
          <li class="aciwc-nav-item">主要业务 <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <div class="aciwc-dropdown" style="display: none">
              <ul class="aciwc-dropdown-list">
                <li><a href="/business">移民业务</a></li>
                <li><a href="/business/2">留学业务</a></li>
                <li><a href="/business/3">投资业务</a></li>
              </ul>
            </div>
          </li>
          <li class="aciwc-nav-item"><a href="/partner">合作伙伴</a></li>
          <li class="aciwc-nav-item"><a href="/about">关于我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="aciwc-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 aciwc-legend">
          <h2>澳大利亚国际微商总会</h2>
          <p class="aciwc-subtitle mb-4">2016我们一起走过</p>
          <a class="aciwc-btn white" href="/report">查看详情</a>
        </div>
      </div>
    </div>
    <div class="aciwc-bottom-line"></div>
  </div>
</div>
<div class="aciwc-section aciwc-bg-grey">
  <div class="container">
    <div class="row vertical-margin">
      {% for item in items[:2] %}
      <div class="col-sm-6">
        <div class="aciwc-featured-block">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="{{ item.thumbnail if item.thumbnail else default_imgs[loop.index0] }}">
          </div>
          <div class="aciwc-featured-content">
            <h3>{{ item.title }}</h3>
            <p class="aciwc-subtitle">{{ item.html|striptags|truncate(80, True) }}</p>
            <a class="aciwc-btn black" href="/activity/{{ item.id }}">点击查看详情</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--
      <div class="col-sm-6">
        <div class="aciwc-featured-block">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/39.jpg">
          </div>
          <div class="aciwc-featured-content">
            <h3>澳洲2017-2018财年预算案出炉</h3>
            <p class="aciwc-subtitle">银行和大学生成最大输家！</p>
            <a class="aciwc-btn black" href="/activity/9">点击查看详情</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aciwc-featured-block">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/38.jpg">
          </div>
          <div class="aciwc-featured-content">
            <h3>来澳投资者越来越多</h3>
            <p class="aciwc-subtitle">国内一线城市房价远超悉尼，墨尔本</p>
            <a class="aciwc-btn black" href="/activity/10">点击查看详情</a>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<div class="pb-3"></div>
<div class="aciwc-section">
  <div class="container">
    <h2 class="aciwc-title section-title">团队博客与新闻</h2>
    <div class="row vertical-margin">
      {% for item in items[2:6] %}
      <div class="col-md-6 col-lg-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper" style="background-image: url('{{ item.thumbnail if item.thumbnail else default_imgs[loop.index0+2] }}')"></div>
          <div class="aciwc-collection-content">
            <!--<div class="aciwc-date">04 May, 2017</div>-->
            <h3 class="aciwc-title"><a href="/activity/{{ item.id }}">{{ item.title }}</a></h3>
            <p class="aciwc-paragraph">{{ item.html|striptags|truncate(120, True) }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--
      <div class="col-md-6 col-lg-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq5.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">04 May, 2017</div>
            <h3 class="aciwc-title">Bringing digitisation to the factory floor and beyond</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Reinhard Geissbauer, Head of PwC’s Industry 4.0 Practice, EMEA</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq6.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">24 April, 2017</div>
            <h3 class="aciwc-title">Diversity vs. familiarity. Where is your leadership team on this spectrum?</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Jim Woods, Global Risk Assurance Leader</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq7.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">19 April, 2017</div>
            <h3 class="aciwc-title">From Global Power Shift to Power Dispersion</h3>
            <p class="aciwc-paragraph">CEO insights blog - Authors: Dennis Chesley, Global, Asia Pacific and Americas (APA) Risk Consulting Leader and Alexis Crow, Lead, Geopolitical Opportunity Practice</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="aciwc-collection-item">
          <div class="aciwc-img-wrapper">
            <img class="img-fluid" src="/img/cq8.png">
          </div>
          <div class="aciwc-collection-content">
            <div class="aciwc-date">11 April, 2017</div>
            <h3 class="aciwc-title">移动互联网创业中，只要创新就不会倒闭吗</h3>
            <p class="aciwc-paragraph">CEO insights blog - Author: Bob Moritz , Chairman, PwC International Ltd.</p>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
<div class="aciwc-section">
  <div class="container">
    <h2 class="aciwc-title border section-title noto">相关视频</h2>
    <div class="row vertical-margin">
      <div class="col-md-12 col-lg-6">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/t74qypNZ7m8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">澳大利亚团队集体亮相济南微启动</h3>
            <p class="aciwc-paragraph">微启动年度盛典，李海亭老师领衔业内顶尖实战大咖，共研「新经济·新智造·新品牌·新零售」。澳大利亚国际微商总会James Han会长，率澳大利亚国际微商总会团队，亮相微启动年度盛典。</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/q1nsWOkUvwM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">2016李佩芳演唱会精彩剪辑</h3>
            <p class="aciwc-paragraph">悉尼著名华人歌者、原广州白云轻歌剧团独唱演员，曾担任中国好声音全澳总决赛、TVBA全球新秀歌唱大赛悉尼赛区、水立方歌唱比赛、澳洲国际少年才艺大赛、新南威尔士MUSE STAR&大专之星Just歌唱大赛等众多歌唱比赛评委的李佩芳老师，作为移民澳洲时代的见证人之一，陪伴了老中青三代共同成长。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row vertical-margin mt-3">
      <div class="col-md-12 col-lg-6">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/ZrNuhUdAH9w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">济南微启动年会</h3>
            <p class="aciwc-paragraph">微启动在济南举办的年度盛典，同时也是中国微电商品牌大会济南峰会，聚集了中国各地知名企业家与电商专家。由企业微营销系统落地植入第一人李海亭老师为大家致辞。各路精英共聚一堂，进行经验交流与对未来的展望。</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="aciwc-collection-item">
          <div class="aciwc-video-wrapper">
            <iframe class="aciwc-video" src="https://www.youtube.com/embed/PV6snjdq_YY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="aciwc-collection-content">
            <h3 class="aciwc-title">2016圣诞晚宴</h3>
            <p class="aciwc-paragraph">由澳大利亚微商总会携手New Ausie International Group举办。我们于此总结一年的汗水与付出，也展望来年的奋斗与发展。晚宴中既有正式的晚餐与酒会，也有欢乐的游戏与唱歌环节。是感谢家人们的相识相知，也是共同享受这节日中的快意与温馨。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-3"></div>
<div class="aciwc-section aciwc-bg-grey">
  <div class="container">
    <div class="row vertical-margin">
      <div class="col-sm-6">
        <div class="aciwc-intro-block">
          <h3 class="aciwc-title">公司网络</h3>
          <p class="aciwc-paragraph mb-1">澳大利亚国际微商总会位于悉尼市中心。</p>
          <p class="aciwc-paragraph mb-1">我们与澳大利亚的房地产、法律、金融、旅游、IT等各行各业的公司均有紧密合作。</p>
          <p class="aciwc-paragraph mb-1">同时我们也与中国各地的投资者与商务人士有着业务往来。</p>
          <p class="aciwc-paragraph mb-3">我们致力成为中澳企业之间贸易、投资、资源整合的桥梁。</p>
          <a class="aciwc-btn black" href="/partner">点击查看详情</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aciwc-intro-block">
          <h3 class="aciwc-title">加入我们</h3>
          <p class="aciwc-paragraph mb-1">澳大利亚国际微商总会欢迎各行业精英前来合作</p>
          <p class="aciwc-paragraph mb-1">如您有任何想咨询的业务或者想投资的项目，请发邮件至</p>
          <p class="aciwc-paragraph mb-1">aciwc@etel.com.au</p>
          <!--<div class="aciwc-btn black">点击查看详情</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-follow">
  <h4 class="aciwc-title">关注我们</h4>
  <ul class="list-inline mb-0">
    <li class="list-inline-item">
      <img width="80" src="/img/qrcode.webp">
    </li>
    <!--<li class="list-inline-item">
      <img src="/img/facebook.gif">
    </li>
    <li class="list-inline-item">
      <img src="/img/linkedin.gif">
    </li>
    <li class="list-inline-item">
      <img src="/img/youtube.png">
    </li>
    <li class="list-inline-item">
      <img src="/img/googleplus.png">
    </li>-->
  </ul>
</div>
{% endblock %}
