{% extends "base2.html" %}
{% block title %}合作伙伴{% endblock %}
{% block content %}
<div class="aciwc-hero3">
  <div class="aciwc-bg img82"></div>
  <div class="aciwc-bottom">
    <div class="container">
      <h1 class="aciwc-title"><span class="aciwc-text-span color2">合作伙伴</span></h1>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/vipmortgage.svg" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="280" class="img-fluid" src="/img/ray.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p>Ray YU</p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">唯品信贷</h4>
          <p>唯品信贷公司总部位于悉尼市中心，公司主要致力于为尊贵客户提供精准的私人订制信贷及理财服务，建立与客户的信任，专业的服务和额外的售后服务。公司提供20间金融机构的利息比较。公司保证利息和产品和银行提供给大众的完全一致，甚至能争取到低于银行给大众的利息。</p>
          <p>唯品信贷是所有澳洲所有主流银行的最高级别业务代理，可以满足个人及企业客户不同时期的需求。时刻掌握更新市场上最新银行讯息，及时为客人量身定制贷款计划。并有专业的精英团队处理所有的文书工作，并提供简易，方便，快速的贷款服务。 公司员工能保证每一个环节都严格要求，高质高效。</p>
          <a class="aciwc-btn black" href="http://www.vipmortgage.com.au/cn/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/642.jpeg" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="200" class="img-fluid" src="/img/allen.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p>Allen Zhang</p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">万盛伟业</h4>
          <p>万盛伟业集团，以房地产发展顾问为核心顾问业务；借助自身丰富资源系统和信息平台，依靠强大的专业精英团队，服务于房地产各个环节，提供高质量的房地产全程服务，成绩斐然。万盛伟业基于市场研究和产品研究的有时，结合投资分析的专业力量，为客户提供综合性应用型解决方案。在房地产策划、顾问、销售上打造一站式服务。</p>
          <p>除了我们在澳洲现有的稳定客户资源，万盛伟业地产投资集团还在中国市场开拓了可靠地合作关系网络。业务市场涵盖中国各大城市，比如北京、上海、广州、深圳、天津等地区。通过这个仍在不断扩大的合作网络，我们拥有稳定增长的地产投资客户资源。</p>
          <a class="aciwc-btn black" href="http://www.vpigroup.com.au/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/hickey-logo.png" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="240" class="img-fluid" src="/img/hickey.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p></p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">弘基律师事务所／弘基管理咨询</h4>
          <p>宏基律师事务所专注于房地产开发，旅游与建筑行业， 成立于1993年，是黄金海岸与昆士兰州赫赫有名的商法律师事务所之一。 我们为开发商、投资者以及业主在地产的购置、开发、售卖、出租等环节提供综合性的法律服务。经常参与在昆士兰州、新南威尔士州及澳大利亚其他地区的各种大型房地产项目。</p>
          <h5>服务项目</h5>
          <ul>
            <li>项目的前期风险评估</li>
            <li>尽职调查</li>
            <li>参与房产购置合同谈判并提供商业咨询</li>
            <li>城市规划与审批</li>
            <li>外国投资审批委员会申请与批复</li>
            <li>为多用途高层开发项目准备销售合约及附属文件</li>
            <li>为融资提供咨询</li>
            <li>酒店与度假村项目交易</li>
          </ul>
          <a class="aciwc-btn black" href="http://www.hickeylawyers.com.au/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/Tricor_Chew_Logo_ENG.JPG" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="160" class="img-fluid" src="/img/kim.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p>Kim Chew</p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">卓家周氏私营有限公司</h4>
          <p>卓佳集团，是全球性之专业服务公司，提供综合的商务、企业及投资者服务。卓佳旗下的附属公司及联属公司的全球网络，覆盖20个国家 / 地区的37个城市，职员超逾2,000名。专业人员服务范围涵盖多个领域，包括以下﹕商务咨询、成立企业实体、企业管冶、 行政管理及公司秘书、信托及受信服务、会计及财务报告、薪金工资、付款及资金管理、发行新股 / 首次公开招股及证券登记管理服务、税务服务、中国业务开展及咨询、行政人员招聘、管理咨询、人力资源咨询及基金行政管理服务。</p>
          <p>卓佳周氏乃卓佳与Chew Investment Partners Pty Limited于澳洲设立的合营公司。卓佳周氏为专业商务顾问，提供全方位的企业服务，包括设立业务、会计、薪金工资管理、税务、公司秘书服务等等。该公司的管理层及人员都是经验丰富和资历深厚的，致力向客户提供及时并前瞻的优质服务。</p>
          <a class="aciwc-btn black" href="http://www.au.tricorglobal.com/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-dark">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/fourier.png" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <!--<img width="200" class="img-fluid" src="/img/fourier2.jpg" alt="">-->
        <div class="aciwc-img-subtitle">
          <p></p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">Fourier</h4>
          <p>Fourier科技将为您量身打造IT技术支持和解决方案。我们可以像是您公司专属的IT部门一样提供完整的服务，或者仅为您完成特定的项目。您可以根据自身情况灵活选择。</p>
          <p>我们在澳大利亚、新西兰、北美和欧洲为中小型企业和机构提供信息技术与通讯(ICT)服务。我们为不同的客户群体服务，包括地方政府、大型跨国制造企业、大城市的服务类公司等。我们将会按照您的需求提供合适的信息技术与通讯(ICT)服务。</p>
          <a class="aciwc-btn black" href="http://fourier.com.au/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="300" src="/img/Southern_Sky_Travel_Logo.png" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="240" class="img-fluid" src="/img/michael.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p>Michael Huang</p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">南天旅游公司</h4>
          <p>南天旅游公司！你最贴心的旅行社！</p>
          <p>Southern Sky Travel是一家由一群有创意、热爱生活并且勇于探索的人建立的公司。我们提供您旅途当中的一切服务，包括机票、酒店预订，行程安排等等。</p>
          <p>除此之外，我们还提供个性化的定制服务，您可以完全按照个人喜好来DIY您自己的旅行。</p>
          <p>我们坚信，想旅行，找南天！专业，贴心，诚信是我们的服务信条！</p>
          <!--<a class="aciwc-btn black" href="http://southernskytravel.com/">点击查看公司主页</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey">
  <div class="container">
    <div class="aciwc-company-logo">
      <img width="120" src="/img/hcafe2.png" alt="">
    </div>
    <div class="row vertical-align vertical-margin">
      <div class="col-md-4 text-center">
        <img width="200" class="img-fluid" src="/img/sophie.jpg" alt="">
        <div class="aciwc-img-subtitle">
          <p>Sophie Sun</p>
          <!--<p class="italic">Founder</p>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="aciwc-company">
          <h4 class="aciwc-title">HCafe</h4>
          <p>HCafe 赢得了顾客的好评和信任，成为当地最受欢迎的连锁咖啡馆之一。</p>
          <p>我们不仅做HCAFE品牌的加盟，而且提供非HCafe品牌的咖啡西餐厅的设计，筹建，改装及运营的指导和管理服务。</p>
          <p>我们的宗旨是：Healthy（健康），Humble（谦恭），Honest（诚信），Happy（快乐）</p>
          <a class="aciwc-btn black" href="http://hcafe.com.au/">点击查看公司主页</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
