<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap-flex.min.css">
    <link rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/person.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>客户信息录入系统</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link {% if not action or action == 'list' %}active{% endif %}" href="?action=list">列表</a></li>
                <li class="nav-item"><a class="nav-link {% if action == 'add' %}active{% endif %}" href="?action=add">添加</a></li>
            </ul>
        </div>

        {% if not action or action == 'list' %}
        <div class="search-bar">
            <form class="form-inline search-form">
                <input name="action" value="list" hidden>
                <input type="text" class="form-control search-input" name="id" value="{{ id if id }}">
                <input type="text" class="form-control search-input" name="name" value="{{ name if name }}" style="display: none;">
                <input type="text" class="form-control search-input" name="email" value="{{ email if email }}" style="display: none;">
                <input type="text" class="form-control search-input" name="phone" value="{{ phone if phone }}" style="display: none;">
                <input type="text" class="form-control search-input" name="organization" value="{{ organization if organization }}" style="display: none;">
                <div class="input-group input-range birthday" style="display: none;">
                    <input class="form-control datepicker search-input" type="text" name="dateFrom" value="{{ dateFrom if dateFrom }}">
                    <span class="input-group-addon">to</span>
                    <input class="form-control datepicker search-input" type="text" name="dateTo" value="{{ dateTo if dateTo }}">
                </div>
                <input type="text" class="form-control search-input" name="position" value="{{ position if position }}" style="display: none;">
                <input type="text" class="form-control search-input" name="extra" value="{{ extra if extra }}" style="display: none;">
                <select class="form-control search-type">
                    <option value="id">id</option>
                    <option value="name" {{ 'selected' if name }}>Name</option>
                    <option value="email" {{ 'selected' if email }}>Email</option>
                    <option value="phone" {{ 'selected' if phone }}>Phone</option>
                    <option value="organization" {{ 'selected' if organization }}>Organization</option>
                    <option value="position" {{ 'selected' if position }}>Position</option>
                    <option value="birthday" {{ 'selected' if dateFrom and dateTo }}>Birthday</option>
                    <option value="extra" {{ 'selected' if extra }}>Extra Information</option>
                </select>
                <button class="form-control btn btn-secondary">搜索</button>
                <a class="form-control btn btn-secondary" href="{{ url_for('person', action='download', name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">导出搜索结果</a>
            </form>
        </div>
        <div class="result-table">
            <table class="table table-striped my-table">
                <tr>
                    <th class="col-id">id</th>
                    <th class="col-name">Name</th>
                    <th class="col-org">Organization</th>
                    <th class="col-email">Email</th>
                    <th class="col-phone">Phone</th>
                    <th class="col-action">Action</th>
                </tr>
                {% for person in people %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.organization.name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.phone }}</td>
                    <!--<td><button type="button" class="email-toggle btn {{ 'btn-outline-success' if person.sending_email else 'btn-outline-warning' }}" value="{{ 'a' if person.sending_email else '' }}">{{ 'Enabled' if person.sending_email else 'Disabled' }}</button></td>-->
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{person.id}}">Detail</button>
                        <button type="button" class="delete btn btn-outline-danger ">Delete</button>
                    </td>
                </tr>
                <div class="modal" id="myModal{{person.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" action="{{ url_for('person_single', person_id=person.id) }}">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-3">Name</div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="name" value="{{ person.name }}" origin="{{ person.name }}" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Email</div>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="email" value="{{ person.email }}" origin="{{ person.email }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Phone</div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="phone" value="{{ person.phone }}" origin="{{ person.phone }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Organization</div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="organization" value="{{ person.organization.name }}"  origin="{{ person.organization.name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Position</div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="position" value="{{ person.position }}" origin="{{ person.position }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Birthday</div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control datepicker" name="birthday" value="{{ person.birthday.strftime('%Y-%m-%d') if person.birthday else '' }}"  origin="{{ person.birthday.strftime('%Y-%m-%d') if person.birthday else '' }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">Extra Information</div>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="5" name="extra" origin="{{ person.extra }}">{{ person.extra }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary save-changes">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('person', action=action, page=page-1, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% for i in range(left, right + 1) %}
                    {% if i == page %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('person', action=action, page=i, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('person', action=action, page=i, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('person', action=action, page=page+1, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        {% elif action == 'add' %}
        <div class="form-wrapper">
            <form method="POST">
                <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Name (required)" required></div>
                <div class="form-group"><input type="email" class="form-control" name="email" placeholder="Email"></div>
                <div class="form-group"><input type="text" class="form-control" name="phone" placeholder="Phone"></div>
                <div class="form-group"><input type="text" class="form-control" name="organization" placeholder="Organization"></div>
                <div class="form-group"><input type="text" class="form-control" name="position" placeholder="Position"></div>
                <div class="form-group"><input type="text" class="form-control datepicker" name="birthday" placeholder="Birthday"></div>
                <div class="form-group"><textarea class="form-control" rows="5" name="extra" placeholder="Extra Information"></textarea></div>
                <div class="form-check" hidden>
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="sendingEmail" checked>
                        Sending Birthday Email
                    </label>
                </div>
                <button class="btn btn-primary">提交</button>
            </form>
        </div>
        <div class="form-wrapper">
            <p><strong>批量添加</strong>(.csv)</p>
            <form action="/batch" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="text" class="form-control filename" readonly>
                    <span class="input-group-btn">
                        <label class="btn btn-primary">
                            Browse&hellip; <input type="file" name="file" style="display: none;" required>
                        </label>
                    </span>
                </div>
                <input name="target" value="person" hidden>
                <input name="action" value="insert" hidden>
                <button class="btn btn-primary">添加</button>
            </form>
        </div>
        {% endif %}

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap4.min.js"></script>
    <script>
        (function($) {
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0", 
            })

            $(':file').on('change', function() {
                var filename = $(this)[0].files.length > 0 ? $(this)[0].files[0].name : '';
                $(this).closest('form').find('.filename').val(filename);
            });

            $('.search-type').on('change', function() {
                var type = $(this).val();
                var inputs = {
                    id: $('.search-input[name="id"]').hide(),
                    name: $('.search-input[name="name"]').hide(),
                    email: $('.search-input[name="email"]').hide(),
                    organization: $('.search-input[name="organization"]').hide(),
                    phone: $('.search-input[name="phone"]').hide(),
                    position: $('.search-input[name="position"]').hide(),
                    extra: $('.search-input[name="extra"]').hide(),
                    birthday: $('.search-bar .birthday').hide(),
                };
                inputs[type].show();
            });

            $('.search-type').trigger('change');

            $('.search-form').submit(function() {
                $(this).find('input.search-input').attr("disabled", "disabled");
                var type = $(this).find('.search-type').val();
                if (type == 'birthday') {
                    $(this).find('input[name="dateFrom"]').removeAttr("disabled");
                    $(this).find('input[name="dateTo"]').removeAttr("disabled");
                } else {
                    $(this).find('input[name="' + type + '"]').removeAttr("disabled");
                }
                return true;
            });

            $('.mutable').dblclick(function() {
                $(this).find('div.input-group').removeAttr('hidden');
                $(this).find('span.update-text').hide();
            });

            $('.update-cancel').click(function() {
                var inputGroup = $(this).closest('div.input-group').attr('hidden', 'hidden');
                inputGroup.siblings('.update-text').show();
            });

            $('.update-confirm').click(function() {
                var inputGroup = $(this).closest('div.input-group');
                var updateInput = inputGroup.find('.update-input');
                var updateText = inputGroup.siblings('.update-text');
                var name = updateInput.attr('name');
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'PUT',
                    data: inputGroup.find('input').serialize(),
                })
                .done(function( data, textStatus, jqXHR ) {
                    inputGroup.val(data);
                    updateText.text(data);
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                    inputGroup.attr('hidden', 'hidden');
                    updateText.show();
                });
            });

            $(document).mouseup(function(e) {
                var container = $(".result-table .input-group");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    container.attr('hidden', 'hidden');
                    container.siblings('.update-text').show();
                }
            });

            $('.result-table button.email-toggle').click(function() {
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'PUT',
                    data: 'sendingEmail=' + !$(this).val(),
                })
                .done(function( data, textStatus, jqXHR ) {
                    location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                });
            });

            $('.result-table button.delete').click(function() {
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'DELETE',
                })
                .done(function( data, textStatus, jqXHR ) {
                    location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                });
            });

            $('button.save-changes').click(function() {
                var form = $(this).closest('.modal-content');
                var inputs = form.find('input, textarea');
                var textarea = form.find('textarea');
                var fd = new FormData();
                var cnt = 0;
                $.each(inputs, function(i, elem) {
                    var obj = $(this);
                    if (obj.val() != obj.attr('origin')) {
                        fd.append(obj.attr('name'), obj.val());
                        cnt++;
                    }
                });

                if (cnt == 0) {
                    $(this).closest('.modal').modal('hide');
                    return;
                }

                $.ajax({
                    url: form.attr('action'),
                    method: 'PUT',
                    data: fd,
                    processData: false,
                    contentType: false,
                })
                .done(function( data, textStatus, jqXHR ) {
                    location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                });
            });
        }) (jQuery);
    </script>
</body>
</html>
