<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap-flex.min.css">
    <link rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/person.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <h1>客户信息录入系统</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link {% if not action or action == 'list' %}active{% endif %}" href="?action=list">列表</a></li>
                <li class="nav-item"><a class="nav-link {% if action == 'add' %}active{% endif %}" href="?action=add">添加</a></li>
            </ul>
        </div>

        {% if not action or action == 'list' %}
        <div class="search-bar">
            <form class="form-inline search-form">
                <input name="action" value="list" hidden>
                <input type="text" class="form-control search-input" name="name" value="{{ name if name }}" placeholder="Name">
                <input type="text" class="form-control search-input" name="email" value="{{ email if email }}" placeholder="Email" style="display: none;">
                <input type="text" class="form-control search-input" name="organization" value="{{ organization if organization }}" placeholder="Organization" style="display: none;">
                <div class="input-group input-range birthday" style="display: none;">
                    <input class="form-control datepicker search-input" type="text" name="dateFrom" value="{{ dateFrom if dateFrom }}" placeholder="from">
                    <span class="input-group-addon">to</span>
                    <input class="form-control datepicker search-input" type="text" name="dateTo" value="{{ dateTo if dateTo }}" placeholder="to">
                </div>
                <select class="form-control search-type">
                    <option value="name">Name</option>
                    <option value="email" {{ 'selected' if email }}>Email</option>
                    <option value="organization" {{ 'selected' if organization }}>Organization</option>
                    <option value="birthday" {{ 'selected' if birthday }}>Birthday</option>
                </select>
                <button class="form-control btn btn-secondary">搜索</button>
                <a class="form-control btn btn-secondary" href="{{ url_for('person', action='download', name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">导出搜索结果</a>
            </form>
        </div>
        <p class="text-muted table-hint">双击以修改单元格</p>
        <div class="result-table">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Organization</th>
                    <th>Birthday</th>
                    <th>Sending Email</th>
                    <th>Action</th>
                </tr>
                {% for person in people %}
                <tr url="{{ url_for('person_single', person_id=person.id) }}">
                    <td class="mutable">
                        <div class="input-group" hidden>
                            <input type="text" class="form-control update-input" name="name" value="{{ person.name }}">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-cancel" type="button">✗</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-confirm" type="button">✓</button>
                            </span>
                        </div>
                        <span class="update-text">{{ person.name }}</span>
                    </td>
                    <td class="mutable">
                        <div class="input-group" hidden>
                            <input type="text" class="form-control update-input" name="email" value="{{ person.email }}">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-cancel" type="button">✗</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-confirm" type="button">✓</button>
                            </span>
                        </div>
                        <span class="update-text">{{ person.email }}</span>
                    </td>
                    <td class="mutable">
                        <div class="input-group" hidden>
                            <input type="text" class="form-control update-input" name="organization" value="{{ person.organization.name }}">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-cancel" type="button">✗</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-confirm" type="button">✓</button>
                            </span>
                        </div>
                        <span class="update-text">{{ person.organization.name }}</span>
                    </td>
                    <td class="mutable">
                        <div class="input-group" hidden>
                            <input type="text" class="form-control update-input datepicker" name="birthday" value="{{ person.birthday.strftime('%Y-%m-%d') }}">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-cancel" type="button">✗</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary update-confirm" type="button">✓</button>
                            </span>
                        </div>
                        <span class="update-text">{{ person.birthday.strftime('%Y-%m-%d') }}</span>
                    </td>
                    <td><button type="button" class="email-toggle btn {{ 'btn-outline-success' if person.sending_email else 'btn-outline-warning' }}" value="{{ 'a' if person.sending_email else '' }}">{{ 'Enabled' if person.sending_email else 'Disabled' }}</button></td>
                    <td><button type="button" class="delete btn btn-outline-danger ">Delete</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('person', action=action, page=page-1, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% for i in range(left, right + 1) %}
                    {% if i == page %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('person', action=action, page=i, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('person', action=action, page=i, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('person', action=action, page=page+1, num=num, name=name, email=email, organization=organization, dateFrom=dateFrom, dateTo=dateTo) }}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        {% elif action == 'add' %}
        <div class="form-wrapper">
            <form method="POST">
                <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Name" required></div>
                <div class="form-group"><input type="email" class="form-control" name="email" placeholder="Email" required></div>
                <div class="form-group"><input type="text" class="form-control" name="organization" placeholder="Organization" required></div>
                <div class="form-group"><input type="text" class="form-control datepicker" name="birthday" placeholder="Birthday" required></div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="sendingEmail" checked>
                        Sending Birthday Email
                    </label>
                </div>
                <button class="btn btn-primary">提交</button>
            </form>
        </div>
        <div class="form-wrapper">
            <p><strong>批量添加</strong>(.csv)</p>
            <form action="/batch" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="text" class="form-control filename" readonly>
                    <span class="input-group-btn">
                        <label class="btn btn-primary">
                            Browse&hellip; <input type="file" name="file" style="display: none;" required>
                        </label>
                    </span>
                </div>
                <input name="target" value="person" hidden>
                <input name="action" value="insert" hidden>
                <button class="btn btn-primary">添加</button>
            </form>
        </div>
        {% endif %}

    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script>
        (function($) {
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0", 
            })

            $(':file').on('change', function() {
                var filename = $(this)[0].files.length > 0 ? $(this)[0].files[0].name : '';
                $(this).closest('form').find('.filename').val(filename);
            });

            $('.search-type').on('change', function() {
                var type = $(this).val();
                var inputs = {
                    name: $('.search-input[name="name"]').hide(),
                    email: $('.search-input[name="email"]').hide(),
                    organization: $('.search-input[name="organization"]').hide(),
                    birthday: $('.search-bar .birthday').hide(),
                };
                inputs[type].show();
            });

            $('.search-type').trigger('change');

            $('.search-form').submit(function() {
                $(this).find('input.search-input').attr("disabled", "disabled");
                var type = $(this).find('.search-type').val();
                if (type == 'birthday') {
                    $(this).find('input[name="dateFrom"]').removeAttr("disabled");
                    $(this).find('input[name="dateTo"]').removeAttr("disabled");
                } else {
                    $(this).find('input[name="' + type + '"]').removeAttr("disabled");
                }
                return true;
            });

            $('.mutable').dblclick(function() {
                $(this).find('div.input-group').removeAttr('hidden');
                $(this).find('span.update-text').hide();
            });

            $('.update-cancel').click(function() {
                var inputGroup = $(this).closest('div.input-group').attr('hidden', 'hidden');
                inputGroup.siblings('.update-text').show();
            });

            $('.update-confirm').click(function() {
                var inputGroup = $(this).closest('div.input-group');
                var updateInput = inputGroup.find('.update-input');
                var updateText = inputGroup.siblings('.update-text');
                var name = updateInput.attr('name');
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'PUT',
                    data: inputGroup.find('input').serialize(),
                })
                .done(function( data, textStatus, jqXHR ) {
                    inputGroup.val(data);
                    updateText.text(data);
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                    inputGroup.attr('hidden', 'hidden');
                    updateText.show();
                });
            });

            $(document).mouseup(function(e) {
                var container = $(".result-table .input-group");

                if (!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) // ... nor a descendant of the container
                {
                    container.attr('hidden', 'hidden');
                    container.siblings('.update-text').show();
                }
            });

            $('.result-table button.email-toggle').click(function() {
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'PUT',
                    data: 'sendingEmail=' + !$(this).val(),
                })
                .done(function( data, textStatus, jqXHR ) {
                    location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                });
            });

            $('.result-table button.delete').click(function() {
                $.ajax({
                    url: $(this).closest('tr').attr('url'),
                    method: 'DELETE',
                })
                .done(function( data, textStatus, jqXHR ) {
                    location.reload();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    // popular fields: jqXHR.status, jqXHR.statusText, jqXHR.responseText
                })
                .always(function() {
                    // parameters are ( data|jqXHR, textStatus, jqXHR|errorThrown )
                });
            });
        }) (jQuery);
    </script>
</body>
</html>
