{% extends "base2.html" %}

{% block title %}2016年度报告{% endblock %}

{% block content %}
<div class="aciwc-hero2">
  <div class="aciwc-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-9">
          <h1 class="aciwc-title"><span class="aciwc-text-large">2016</span>我们一起走过</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section aciwc-bg-grey large">
  <div class="container">
    <div class="row more-padding">
      <div class="col-sm-6">
        <h2 class="aciwc-title">PwC's insights on FinTech</h2>
        <p>FinTech is all about innovation, disruption and transformation, and will undoubtedly impact and shape the way financial institutions around the world operate. Explore the key themes of our report, as well as in our Executive Summary, and download the Global report to find out how senior financial services and FinTech executives around the world prepare their organisations for the impact of FinTech.</p>
        <div class="aciwc-btn black mt-3">Read the executive summary</div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <img class="img-fluid my-2 aciwc-shadowed" src="/img/18578524_121809021726594_1302371693_n.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="row more-padding">
      <div class="col-sm-6">
        <h2 class="aciwc-title">PwC's insights on FinTech</h2>
        <p>FinTech is all about innovation, disruption and transformation, and will undoubtedly impact and shape the way financial institutions around the world operate. Explore the key themes of our report, as well as in our Executive Summary, and download the Global report to find out how senior financial services and FinTech executives around the world prepare their organisations for the impact of FinTech.</p>
        <div class="aciwc-btn black mt-3">Read the executive summary</div>
      </div>
      <div class="col-sm-6">
        <img class="img-fluid my-2 aciwc-shadowed aciwc-overlap" src="/img/18596867_121809031726593_1124388284_o.jpg">
        <img class="img-fluid my-2 aciwc-shadowed aciwc-overlap2" src="/img/18555147_311141065990449_1091977716_n.png">
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section aciwc-bg-grey large">
  <div class="container">
    <div class="row more-padding">
      <div class="col-sm-6">
        <img class="img-fluid my-2 aciwc-shadowed" src="/img/18575645_121809048393258_1188288059_o.jpg">
      </div>
      <div class="col-sm-6">
        <h2 class="aciwc-title">FinTech and Financial Services are coming together</h2>
        <p>The Financial Services industry continues to be fuelled by FinTech’s influence. The perception of business at risk is growing and along with it the concern of potentially lost revenues. The fact that consumers are increasingly doing business with these non-traditional players will do little to calm uncertainty. As incumbents react to this they are attempting to come together with FinTech; to leverage the ecosystem it creates, turn the innovation to their advantage and alleviate their concerns around their business being at risk.</p>
        <div class="aciwc-btn black mt-3">Download the global report</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
