{% extends "base2.html" %}

{% block title %}2016年度报告{% endblock %}

{% block content %}
<div class="aciwc-hero2">
  <div class="aciwc-bottom">
    <h1 class="aciwc-title text-center"><span class="aciwc-text-span">2016 我们一起走过</span></h1>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="row more-padding vertical-margin">
          <div class="col-sm-6 aciwc-event-info">
            <h2 class="aciwc-title">影响力 - "微启动"</h2>
            <p>截至2016，我们已经成功举办1200场讲座</p>
            <p>帮助来自全国各地的中小企业</p>
            <p>突破自身的营销瓶颈</p>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid aciwc-shadowed" src="/img/18578524_121809021726594_1302371693_n.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row more-padding vertical-margin">
          <div class="col-sm-6">
            <img class="img-fluid aciwc-shadowed" src="/img/18596867_121809031726593_1124388284_o.jpg">
          </div>
          <div class="col-sm-6 aciwc-event-info">
            <h2 class="aciwc-title">沟通力 - 企业家澳洲游学</h2>
            <p>2013，我们萌生出将国内优秀资源移植到澳洲的想法</p>
            <p>2014，我们不断接触合作伙伴，一次次反推推敲我们的想法</p>
            <p>2015，我们开始大规模，多渠道铺开我们的业务，涵盖地产，通讯，旅游等</p>
            <p>2016，我们的团队不断成长，追求提供专业与系统化的服务</p>
            <p>2017，我们一起期待，精彩还在继续</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row more-padding vertical-margin">
          <div class="col-sm-6 aciwc-event-info">
            <h2 class="aciwc-title">凝聚力 - 圣诞晚宴</h2>
            <p>家是一个有温度的词</p>
            <p>倦鸟归林、落叶归根，都是对家的渴望</p>
            <p>每年圣诞，是家人团聚的时候</p>
            <p>我们一起欢度，一起分享</p>
          </div>
          <div class="col-sm-6">
            <img class="img-fluid aciwc-shadowed" src="/img/18575645_121809048393258_1188288059_o.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="aciwc-section large aciwc-bg-grey with-bg-img">
  <div class="aciwc-bg-2"></div>
  <img class="aciwc-bg-1" src="/img/logot.png">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="aciwc-title aciwc-event">2016大事纪</h1>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">2月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">未来之路-中国"微启动"年会</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">4月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">中国"微启动"第四期澳大利亚游学活动</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">7月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">黄金海岸ÉLEVÉ项目奠基动土</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">9月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">Grand Auburn项目奠基动土</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">10月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">H Café 咖啡品牌连锁悉尼第七家分店开业</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">11月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">李佩芳“献给我们一起走过的30年”个人音乐会</h3>
          </div>
        </div>
        <div class="row aciwc-event-row">
          <div class="col-md-2">
            <h3 class="aciwc-title normal">12月</h3>
          </div>
          <div class="col-md-10">
            <h3 class="aciwc-title">圣诞晚宴暨李佩芳“献给我们一起走过的30年”庆功晚宴</h3>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
